.cartContainer {
  width: 100%;
  height: 100%;
}

.outOfStockProductAlert {
  font-size: 12px;
  font: "Nunito", sans-serif;
  color: #c72c41;
}

.productsListInCart {
  padding-bottom: 120px;
}

.cartFooter {
  position: fixed;
  bottom: 90px;
  width: 330px;
  background-color: white;
  padding: 8px 20px;
  border-radius: 20px;
}

.totalAmountInCart {
  text-align: left;
}

.totalAmountText {
  font-size: 15px;
  margin-top: 5px;
  color: #148ea4;
}

.cartAmount {
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .cartFooter {
    width: 89%;
  }
}
