.orderHistoryContainer {
  width: 100%;
  height: 100%;
}

.orderHistoryCard {
  width: 100%;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}

.orderInfoItem {
  text-align: left;
  margin-top: 5px;
}

.infoType {
  font-weight: 800;
  color: gray;
  font-size: 15px;
}

.actualInfo {
  font-weight: 800;
  color: black;
  font-size: 15px;
}
