.userInformationContainer {
  width: 100%;
  height: 100%;
  /* height: 70vh;
  position: relative; */
}

.userInformationForm {
  margin-top: 10px;
  /* margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%); */
}

.textBoxContainer {
  margin-top: 0px;
  text-align: left;
}

.updateButtonContainer {
  width: 100%;
  /* margin-top: 10px; */
}

@media screen and (max-height: 600px) {
  .userInformationContainer {
    width: 100%;
    height: 100%;
    /* height: 70vh; */
    /* min-height: 650px;*/
    overflow-y: scroll;
    /* position: relative; */
  }

  .userInformationForm {
    margin-top: 10px;
    padding-bottom: 100px;
  }
}

@media screen and (min-height: 650px) {
  .userInformationContainer {
    width: 100%;
    height: 70vh;
    position: relative;
  }

  .userInformationForm {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
}
