.productCardContainer {
  width: 100%;
  border-radius: 20px;
  background-color: white;
  padding: 10px 15px;
  position: relative;
}

.productInfoContainer {
  height: 100%;
}

.productImageContainer {
  text-align: left;
  width: 80px;
  height: 80px;
}

.productImage {
  width: 100%;
  height: 100%;
}

.outOfStockContainer {
  background-color: rgba(255, 255, 255, 0.8);
  width: 80px;
  height: 20px;
  position: absolute;
  color: red;
  top: 45px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
}

.productInfo {
  margin-top: 4px;
  width: 100%;
  text-align: left;
  padding-left: 10px;
  line-height: 18px;
  font-family: "Nunito", sans-serif;
  padding-right: 5px;
}

.productBrand {
  color: gray;
  font-size: 12px;
  font-weight: 800;
}

.productName {
  font-size: 12px;
  font-weight: 400;
  /* white-space: nowrap; */
  width: 100%;
  max-height: 35px;
  overflow-y: hidden;
  /* overflow: hidden;
  o-text-overflow: ellipsis;
  text-overflow: ellipsis; */
}

.productQuantity {
  font-size: 12px;
  font-weight: 800;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.productQuantityUnit {
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.productPrice {
  font-weight: 800;
  font-size: 13px;
}

.productControls {
  text-align: right;
  margin-top: 15px;
}

.outOfStockControl {
  opacity: 0.3;
}

.totalPrice {
  font-size: 15px;
  font-weight: 800;
}

.controlButtons {
  margin-top: 0px;
}

.addSubtractButton {
  border: 2px solid #148ea4;
  border-radius: 5px;
  background-color: white;
  color: #148ea4;
  cursor: pointer;
  font-size: 10px;
  padding: 0 10;
  /* border: none; */
}

.addSubtractButton:focus {
  outline: none;
  box-shadow: none;
}
