.userOptionSideBarContainer {
  width: 240px;
  height: 85vh;
  background-color: white;
  position: absolute;
  right: 0%;
  box-shadow: -10px 0px 20px gray;
  z-index: 5;
  text-align: right;
  font-family: "Nunito", sans-serif;
}

.userOptionSideBarHeadingContainer {
  padding: 10px 10px;
}

.userOptionSideBarHeading {
  color: #148ea4;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 800;
  padding-right: 10px;
  border-bottom: 0.5px solid gray;
}

.userOptionItemInSideBar {
  margin-top: 5px;
  width: 100%;
  border-right: 5px solid #148ea4;
  padding-right: 20px;
  color: rgb(88, 88, 88);
  font-size: 15px;
  cursor: pointer;
}
