.homeContainer {
  width: 100%;
  height: 100%;
  padding: 0% 5%;
}

.primaryText {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #148ea4;
}

.secondaryText {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #4c586e;
  padding: 0% 10%;
}

.searchBox {
  margin-top: 5%;
}

.banner {
  margin-top: 5%;
}

.primaryCategories {
  margin-top: 5%;
}
