.sideBarContainer {
  width: 240px;
  height: 85vh;
  max-height: 85vh;
  overflow-y: scroll;
  background-color: white;
  position: absolute;
  left: 0%;
  box-shadow: 10px 0px 20px gray;
  z-index: 5;
  text-align: left;
  font-family: "Nunito", sans-serif;
}

.sideBarHeadingContainer {
  padding: 10px 10px;
}

.sideBarHeading {
  color: #148ea4;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 800;
  padding-left: 10px;
  border-bottom: 0.5px solid gray;
}

.primaryCategoryItemInSideBar {
  margin-top: 5px;
  width: 100%;
  border-left: 5px solid #148ea4;
  padding-left: 20px;
  color: rgb(88, 88, 88);
  font-size: 15px;
  cursor: pointer;
}

.primaryCategoryNameInSideBar {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.primaryTextColor {
  color: #148ea4;
  font-weight: 800;
}

.subCategoryListInSideBar {
  padding: 10px 10px;
  padding-left: 35px;
}

.subCategoryItem {
  width: 80%;
  border-bottom: 0.5px solid #bdbdbd;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-decoration: none;
}

.staticSideBarElemenets {
  width: 100%;
  position: absolute;
  bottom: 100px;
}

.staticSideBarElemenetItem {
  margin-top: 5px;
  width: 100%;
  padding-left: 20px;
  color: rgb(88, 88, 88);
  font-size: 15px;
  cursor: pointer;
}
