.footerContainer {
  width: 370px;
  background-color: #148ea4;
  height: 70px;
  padding: 0% 0%;
  font-size: 20px;
  position: fixed;
  z-index:10;
  bottom: 0;
  box-shadow: 0px -5px 5px gray;
}

.footerItemsContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.footerItems {
  width: 100%;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.footerItemSection {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: white;
  line-height: 20px;
}

.footerItemIcon {
  font-size: 25px;
}

.footerItemText {
  font-size: 15px;
}

/* For all size of mobile screens, screen width 600px or smaller */

@media screen and (max-width: 600px) {
  .footerContainer {
    width: 100%;
  }
}
