.currentPageNameHeaderContainer {
  text-align: left;
  color: #148ea4;
  font-size: 20px;
  width: 100%;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  border-bottom: 1px solid gray;
}

.backButton {
  padding-left: 10px;
}
