.endOfThePageContainer {
  width: 100%;
  overflow: auto;
  padding-top: 50px;
}

.endOfThePageContent {
  text-align: center;
  padding-bottom: 50px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #4c586e;
}
