.serchBoxContainer {
  width: 100%;
  position: relative;
}

.searchBoxCard {
  color: #4c586e;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  height: 40px;
  padding: 8px 15px;
}

.searchIconSection {
  text-align: left;
}

.searchInputBoxSection {
  width: 100%;
}

.searchInput {
  border: none;
  width: 100%;
}

.searchInput:focus {
  outline: none;
}

.searchSuggestions {
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 20;
  top: 42px;
  border-radius: 20px;
  text-align: left;
  color: #4c586e;
  max-height: 220px;
  overflow-y: scroll;
}

.searchFilteredItems {
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.searchFilteredItems:hover {
  cursor: pointer;
  background-color: gainsboro;
}

.SearchFilterProductInfo {
  padding: 5px 10px;
}

.productNameinSearchFilter {
  white-space: nowrap;
  overflow: hidden;
  o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.productQuantityinSearchFilter {
  text-align: right;
  float: right;
  font-weight: 600;
}
