.passwordOROTPContainer {
  width: 100%;
  /* height: 100%; */
  height: 70vh;
  position: relative;
}

.passwordOROTPForm {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.submitButtonContainer {
  margin-top: 20px;
}
