.App {
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh; /*ToDo min height where keyboard on mobile screen qont break the design*/
}

.appContainer {
  margin: auto;
  max-width: 370px;
}

.pages {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  max-height: 85vh;
  height: 85vh;
  overflow: scroll;
  padding-bottom: 18vw;
}

.primaryButton {
  border: none;
  background-color: #1d32c4;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  padding: 5px 5px;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
}

/* For all size of mobile screens, screen width 600px or smaller */

@media screen and (max-width: 600px) {
  .appContainer {
    margin: auto;
    max-width: 100%;
  }
}
