.App {
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh; /*ToDo min height where keyboard on mobile screen qont break the design*/
}

.appContainer {
  margin: auto;
  max-width: 370px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.pages {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  max-height: 85vh;
  height: 85vh;
  overflow: scroll;
  padding-bottom: 10vh;
  transition: opacity 0.3s;
}

.backgroundOpacityLow {
  opacity: 0.5;
}

.primaryButton {
  border: none;
  background-color: #1d32c4;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  padding: 5px 5px;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
}

.primaryButton:focus {
  outline: none;
  box-shadow: none;
}

.primaryButtonSmall {
  border: none;
  background-color: #1d32c4;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  padding: 5px 5px;
  /* box-shadow: 0px 2px 5px gray; */
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
}

.disabledButton {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.secondaryButton {
  border: 1px solid gray;
  background-color: white;
  color: gray;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  padding: 5px 5px;
  box-shadow: 0px 2px 5px gray;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
}

.linkButton {
  border: none;
  background-color: white;
  color: #148ea4;
  font-size: 15px;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
}

/* For all size of mobile screens, screen width 600px or smaller */

@media screen and (max-width: 600px) {
  .appContainer {
    margin: auto;
    max-width: 100%;
  }
}
