.loadingBanner {
  width: 100%;
  border-radius: 20px;
  border: 1px solid gray;
}

.bannerConatiner {
  width: 100%;
  border-radius: 20px;
}

.bannerImage {
  /* width: 320px;
  height: 180px; */
  width: 100%;
  border-radius: 20px;
}
